apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cortex-neo4j-pvc
  namespace: cortex
  labels:
    app.kubernetes.io/name: cortex
    app.kubernetes.io/component: neo4j
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
