apiVersion: v1
kind: Service
metadata:
  name: cortex-frontend
  namespace: cortex
  labels:
    app.kubernetes.io/name: cortex
    app.kubernetes.io/component: frontend
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      name: http
  selector:
    app.kubernetes.io/name: cortex
    app.kubernetes.io/component: frontend
