apiVersion: v1
kind: Service
metadata:
  name: cortex-postgres
  namespace: cortex
  labels:
    app.kubernetes.io/name: cortex
    app.kubernetes.io/component: postgres
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      name: postgres
  selector:
    app.kubernetes.io/name: cortex
    app.kubernetes.io/component: postgres
